---
---

@import "jekyll-theme-slate";

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
  text-align: center;
  border: 1px solid #9e9e9e;
 }

.inner {
  position: relative;
  max-width: 740px;
  padding: 20px 10px;
  margin: 0 auto; }
  
#coll_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 150px;
  z-index: 10;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: #0090ff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

#pub_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 310px;
  z-index: 10;
  padding: 10px 10px 10px 10px;
  color: #fff;
  background: #0090ff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }